*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig
*.patch

# Downloaded sources
cmdline.txt
config-armv6h
config-armv7h
brcmfmac43430-sdio.bin
brcmfmac43430-sdio.txt

# AUR metadata
.AURINFO
.SRCINFO

pkg/
src/
aufs4-standalone/
wsp-patches/
