*.tar
*.tar.*
*.zip
*.tgz
*.log
*.log.*
*.sig
*.patch

# Downloaded sources
cmdline.txt
config.v6
config.v7
brcmfmac43430-sdio.bin
brcmfmac43430-sdio.txt

# AUR metadata
.AURINFO
.SRCINFO

pkg/
src/
aufs4-standalone/
